<!DOCTYPE html>
<html>
<head>
  <title>Regions</title>
  <%= stylesheet_link_tag    "regions/application", media: "all" %>
  <%= javascript_include_tag "regions/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
